.history-page{
    padding:30px;
}

.history-header{
    margin-bottom:25px;
}

.history-header h1{
    font-size:34px;
    font-weight:700;
    color:#111827;
}

.history-header p{
    color:#6b7280;
    margin-top:6px;
}

.filter-card{
    background:white;
    padding:20px;
    border-radius:18px;
    box-shadow:0 4px 20px rgba(0,0,0,.05);

    display:flex;
    gap:15px;

    margin-bottom:25px;
}

.filter-card input,
.filter-card select{
    flex:1;
    padding:14px;

    border:1px solid #d1d5db;
    border-radius:12px;
}

.table-card{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 4px 20px rgba(0,0,0,.05);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    text-align:left;
    padding:16px;
    color:#64748b;
    border-bottom:1px solid #e5e7eb;
}

td{
    padding:16px;
    border-bottom:1px solid #f1f5f9;
}

tbody tr:hover{
    background:#f8fafc;
}
.category-badge{
    background:#eff6ff;
    color:#2563eb;

    padding:6px 12px;

    border-radius:999px;

    font-size:13px;
    font-weight:600;
}

.amount{
    color:#16a34a;
    font-weight:700;
}

.edit-btn{
    border:none;

    background:#dbeafe;

    color:#2563eb;

    padding:8px 14px;

    border-radius:10px;

    cursor:pointer;

    margin-right:8px;

    font-weight:600;
}

.edit-btn:hover{
    background:#bfdbfe;
}

.delete-btn{
    border:none;

    background:#fee2e2;

    color:#dc2626;

    padding:8px 14px;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;
}

.delete-btn:hover{
    background:#fecaca;
}