.navbar{

    width:100%;
    background:white;
    border-bottom:1px solid #e5e7eb;
    position:sticky;
    top:0;
    z-index:100;

}

.navbar-container{

    width:90%;
    max-width:1300px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}

.logo{

    font-size:30px;

    font-weight:700;

    color:#2563EB;

}

.nav-links{

    display:flex;

    align-items:center;

    gap:40px;

}

.nav-links a{

    text-decoration:none;

    color:#374151;

    font-weight:500;

}

.nav-links a:hover{

    color:#2563EB;

}
@media (max-width: 768px) {

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

}
