.register-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f7fb;
}

.register-card{
    width:420px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.logo{
    text-align:center;
    margin-bottom:25px;
}

.logo h2{
    color:#2563eb;
    font-size:24px;
}

.register-header{
    text-align:center;
    margin-bottom:30px;
}

.register-header h2{
    font-size:30px;
    margin-bottom:5px;
}

.register-header p{
    color:#777;
}

.input-group{
    display:flex;
    flex-direction:column;
    margin-bottom:18px;
}

.input-group label{
    margin-bottom:7px;
    font-weight:600;
    font-size:15px;
}

.input-group input{
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

.input-group input:focus{
    outline:none;
    border-color:#2563eb;
}

.register-btn{
    width:100%;
    padding:13px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top:8px;
}

.register-btn:hover{
    background:#1d4ed8;
}

.login-text{
    margin-top:25px;
    text-align:center;
    color:#666;
}

.login-text span{
    color:#2563eb;
    cursor:pointer;
    font-weight:600;
}