/* ===========================
   LIGHT THEME
=========================== */

:root {

  --bg: #F8FAFC;

  --sidebar: #F8FAFC;

  --card: #FFFFFF;

  --card-hover: #F1F5F9;

  --text: #0F172A;

  --subtext: #64748B;

  --border: #E2E8F0;

  --primary: #3B82F6;

  --shadow: rgba(15, 23, 42, 0.04);

}

/* ===========================
   DARK THEME
=========================== */

[data-theme="dark"] {

  --bg: #09090b;

  --sidebar: #09090b;

  --card: #13192B;

  --card-hover: #1E293B;

  --text: #F8FAFC;

  --subtext: #94A3B8;

  --border: #1E293B;

  --primary: #3B82F6;

  --shadow: rgba(0,0,0,.6);

}